h1, p {
  font-family: georgia, "times new roman", times, serif;
  margin: 10px 20px;
}

h1 {
  font-weight: normal;
  color: #444;
}

p {
  font-size:14px;
  color: #666;
}

line {
  stroke: black;
  stroke-width: .1px;
}

.container {
  width: 640px;
  margin: 40px auto;
}

.routes {
  fill: #f8f8f8;
}